global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend fe_http
    bind *:9080
    default_backend be_engine

backend be_engine
    option httpchk GET /badsector/health
    http-check expect status 200
    # BEGIN_CLIENT_IP_POLICY
    http-request del-header CF-Connecting-IP
    http-request del-header True-Client-IP
    http-request del-header X-Client-IP
    http-request del-header X-Forwarded-For
    http-request set-header X-Real-IP %[src]
    option forwardfor
    # END_CLIENT_IP_POLICY
    server engine engine:8080 check inter 3s fall 3 rise 2
